@media only screen and (max-width: 1000px) {
  .product{
    flex-direction: column;
   
  }
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
  }
  body{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }


  .subject {
    background-color: #ff9966;
    height: 25px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
  }
  li {
    display: inline-block;
    margin: 10px;
  }
  ol {
    text-align: center;
  }
  
  .about_title{
    display: flex;
 

    flex-direction: column;
    background-repeat: no-repeat;
    height: 300px;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2015/12/01/15/43/black-1072366__480.jpg");
    align-items: center;
    

  }
    .about_title h1 {
        color: white;
        margin-top: 30px;
        border: 2px;
        font-size: 50px;
      }

      .about_title p {
        margin-top: 15px;
        color: white;
        border: 2px;
        text-align: center;
        width: 80%;
        font-size: 20px;
        overflow: hidden;
      }
 
  .main_title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .title{
    margin-top: 10px;
    word-spacing: 2px;
    font-size: 40px;
  }
  .product { 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2px 16px;
  }
  
.card{
  height: 280px;
  flex: 1;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 2s ease;
  margin: 10px;

}
.card img{
  object-fit: cover;
width: 100%;
height: 200px;
}
.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
}
.card p1{

  font-size: 20px;
}
.card p{
  margin-top: 10px;
  margin-bottom: 10px;
}

